<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - netcore1</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />           
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="col-md-3">
            <a class="navbar-brand" href="#"><i class="fab fa-angrycreative fa-4x"></i></a>
            <a href="#" class="img-thumbnail m-1"><img src="~/images/logo32.png" alt="Vietnam Language"></a>

            <span class="text-muted">Welcom</span>
        </div>
        <div class="col-md-7">
            <form class="row">
                <div class="col-md-8">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <div class="row mb-2">
                <a href="/change-language/vi" class="img-thumbnail m-1"><img src="~/images/Vn.png" alt="Vietnam Language"></a>
                <a href="/change-language/en" class="img-thumbnail m-1"><img src="~/images/English.png" alt="English Language"></a>
                <a href="/change-language/jp" class="img-thumbnail m-1"><img src="~/images/japan.png" alt="Japan Language"></a>
                <a href="#" class="img-thumbnail m-1"><img src="~/images/china.png" alt="China Language"></a>
            </div>
            <img src="~/images/admin.png" alt=""
                 class="img-thumbnail rounded-circle w-25 mr-2 float-left">
            <div class="mt-3">
                <strong>Admin</strong>
                <a href="#">(Logout)</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid row mt-2">
        <nav class="col-md-2">
            <div class="nav flex-column nav-pills">
                <a class="nav-link" href="/admin/bakery/list">Home</a>
                <a class="nav-link" href="/admin/bakery/list">Create</a>
                <a class="nav-link" href="/admin/category">Table</a>
                @*<a class="nav-link" href="/admin/article">Article Manager</a>
                    <a class="nav-link" href="#v-pills-settings">Settings</a>*@
            </div>
        </nav>
        <main class="col-md-10">
            @RenderBody()
        </main>
    </div>
    @*<footer class="container-fluid mt-3 mb-3">
            <p class="text-center">Copyright </p>
        </footer>*@
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Back</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
                <p>&copy;</p>
            </footer>*@
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
      
    </environment>

    @RenderSection("Scripts", required: false)
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
